/* Font-family from Adobe font */
@import url("https://use.typekit.net/pvq6nma.css");

/* Global styles */
body, .main-bg {
    background-color: #F5F5F5;
}
.alt-bg {
    background-color: #212121;
}

/* Fonts and colors */
h1, h2, h3, nav, .primary-button, .secondary-button {
    font-family: 'proxima-nova', 'Verdana', sans-serif;
    font-weight: bold;
}
p, h4 {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}
.brand-text {
    color: #00C853;
}
.main-text {
    color: #212121;
}
.alt-text {
    color: #F5F5F5;
}

/* Headings */
h1 {
    font-size: x-large;
    text-align: center;
}
h2 {
    font-size: large;
}
h3 {
    font-size: medium;
}
h4 {
    font-size: 22px;
    font-weight: 600;
}

/* Body-text */
p {
    font-size: 14px;
    font-weight: 500;
}


/* Buttons och links */
button {
    font-size: 18px;
    text-transform: uppercase;
    text-align: center center;
    border-radius: 5px;
    padding: 10px 20px;
}

.primary-buttton {
    background-color: #00E5FF;
}
.secondary-buttton {
    background-color: #1A237E;
}
/** a {
    color: #;
} 
hover {
    color: #;
} **/

/* Nav */
nav {
    font-weight: 500;
}

header {
    background-image: url('');
}

/* Footer */ 
footer {
    background-color: #1A237E;
}