/* Global styles */
body {
    margin: 0px;
}

/* Font-family from Adobe font */
@import url("https://use.typekit.net/pvq6nma.css");

/* Background colors */
.main-bg {
    background-color: #212121;
}
.alt-bg {
    background-color: #00E5FF;
}
.light-bg {
    background-color: #F5F5F5;
}
#nav-bar, #footer {
    background-color: #1A237E;
}

/* Font */
.large-heading, .regular-heading, .sub-heading, .primary-button, .secondary-button, .nav-item {
    font-family: 'proxima-nova', 'Verdana', sans-serif;
    font-weight: bold;
    color: #00C853;
}
.regular-text, .large-body, .small-text {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Headings */
.large-heading {
    font-size: 110px;
    line-height: 1em;
}
.regular-heading {
    font-size: 50px;
    line-height: 1.2em;
}
.sub-heading {
    font-size: 35px;
}


/* Body text */
.large-body {
    font-size: 22px;
    font-weight: 500;
}
.regular-text {
    font-size: 17px;
    line-height: 1.9em;
    margin: 10px 0;
    color: #F5F5F5;
}
.small-text {
    font-size: 12px;
}

/* Font colors */
.main-text-color {
    color: #F5F5F5;
}
.alt-text-color {
    color: #00E5FF;
}
.dark-text {
    color: #212121;
}

/* Mobile phones */
[class*="col-"] {
    width: 100%;
}

/* Tablets */
@media only screen and (min-width: 600px) {

}

/* Desktop */
@media sceen and (min-width: 768px) {
    .width-desktop {
        width: 70%;
    }
}







/* Layout */

.three-col-boxes {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
} 
.content-box-left {
    width: 30%;
    text-align: left;
}
.content-box-center {
    width: 30%;
    text-align: center;
}
.content-box-right {
    width: 30%;
    text-align: right;
}
.two-column-container {
    display: inline-flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 5%;
    width: 70%;
    padding: 50px 0;
}
.left-content-column  {
    width:60%;
    text-align: left;
}
.right-content-column {
    width: 40%;
    text-align: right;
}

.grid {
    display: grid;
    flex-wrap: nowrap;
    gap: 30px;
    width: 100%;
    justify-items: center;
}

/* Fonts and colors */

.no-space {
    margin: 0;
    padding: o;
}

/* Align */
.text-left {
    text-align: left;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.items-center-center {
    justify-content: center;
    align-items: center;
}

/* Buttons och links */
a.button {
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 17%;
    padding: 3px 18px;
    letter-spacing: 1.5px;
    /* color: #212121 */
}
a.primary-button {
    background-color: #F5F5F5;
    border: solid 2px #212121;
    color: #212121;
}
a.secondary-button {
    background-color: #00E5FF
}
a {
    color:#F5F5F5;
}
a:hover {
    color: #00E5FF;
}
a.primary-button:hover {
    background-color: #00E5FF;
    border: solid 2px #212121;
    color: #212121;
    box-shadow: 2px 3px #F5F5F5;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
}
a.secondary-button:hover {
    background-color: #00E5FF
}

/* Header */
#nav-bar {
    height: 60px;
    position: fixed;
    z-index: 100;
}
#nn-icon {
    margin-top: 5px;
    max-width: 70px;
    max-height: 70px;
}
#header-content-boxes {
    justify-content: space-between;
}
#header-box-left, #header-box-right {
    width: 20%;
}
#header-box-center {
    width: 70%;
    align-items: center;
}
a.nav-item {
    padding: 15px;
    margin: 3px 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #F5F5F5;
}
a.nav-item:hover {
    margin-top: 5px;
    color: #212121;
    background-color: #F5F5F5;
    box-shadow: 4px 5px #00E5FF;
}

/* Hero */
#home {
    background-image: url(/assets/images/Illustration-of-beam-background.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    flex-direction: column;
}
.hero {
    width: 50%;
}
#introducing-neurohacking {
    line-height: 1.8em;
    margin: 30px 0;
}
.highlight {
    background-color: #15e26bc9;
    padding: 1px 6px;
}
a.challange-cta {
    margin-top: 40px;
    padding: 10px 30px;
    font-size: 20px;
}
a.challange-cta:hover {
    margin-top: 40px;
    background-color: #1A237E;
    color: #F5F5F5;
    border-color: #00E5FF;
    box-shadow: 4px 7px #F5F5F5;
    font-size: 24px;
    padding: 8px 24px;
    text-decoration: none;
    text-transform: uppercase;
}

/* About */
#about-box-left {
    width: 55%;
}
#about-box-right {
    width: 40%;
}
#img-about {
    max-width: 530px;
}

/* Subscribe form */
#heading-subscribe {
    background-color: #00C853;
    color: #F5F5F5;
}

/* Footer */
#footer {
    justify-content: space-evenly;
    padding-top: 30px;
    height: 45vh;
    z-index: 50;
}
#contact {
    justify-content: center;
}
.footer-box-container {
    justify-content: space-between;
    gap: 50px;
}
#footer-box-left {
    width: 30%;
}
#nn-logotype {
    max-width: 250px;
}
.some-icons-bg {
    align-self: left;
    border-radius: 50px;
    border: solid 2px #00E5FF;
    display: inline-flex;
}
ul {
    margin: 0 px;
    padding: 0px;
}
svg {
    height: 1.5em;
    width: 1.5em;
    padding: 8px;
    align-self: center;
}
#footer-box-center {
    display: block;
    width: 20%;
    align-self: self-start;
    margin-left: 25px;
}
#get-in-touch {
    color: #F5F5F5;
    margin-bottom: 1.35em;
}
#footer-box-right {
    width: 50%;
}
#map {
    width: 630px;
    height: 300px;
    border: solid 2px #00E5FF;
    text-align: right;
    padding: 0;
    margin: 0;
}
.cred {
    display: block;
    width: 100%;
    align-self: baseline;
    height: 6%;
}
#copyright {
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #1A237E;
    align-self: center;
    padding-top: 4px;
}
